<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>Models</title>
</head>
<body>
    <div class="container bg-success opacity-50 p-4 mb-3">
    <h1 class="text-light">Welcome to Models in Django</h1>
</div>
{% comment %} -------------------------------------------------------------- {% endcomment %}
    <div class="container">
    {% if order %}
    <table class="table table-bordered border-primary table-hover">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">MEMBERSHIP</th>
          <th scope="col">PHONE</th>
          <th scope="col">PAYMENT STATUS</th>
          {% comment %} <th scope="col">DISCOUNT</th> {% endcomment %}
        </tr>
    </thead>
    <tbody>
    {% for o in order %}
    <tr>
        <th scope="row">{{o.id}}</th>
        <th scope="row">{{o.customer.first_name}}</th>
        <td>{{o.customer.membership}}</td>
        <td>{{o.customer.phone}}</td>
        <td>{{o.payment_status}}</td>
        {% comment %} <td>
            {% for pro in p.promotions.all %}
                {{ pro.description }}
                {% if not forloop.last %}, 
                {% endif %}
            {% endfor %}
        </td>
        
        <td>
            {% for pro in p.promotions.all %}
            {{ pro.discount }}
            {% if not forloop.last %}, 
            {% endif %}
        {% endfor %}
        </td> {% endcomment %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
    <p class="bg-danger">
        No Timing Available
    </p>
    {% endif %}
</div>
{% comment %} -------------------------------------------------------------------- {% endcomment %}
<div class="container bg-primary opacity-50 p-4 mb-3">
    <h1 class="text-light">Customer Table</h1>
</div>
    <div class="container">
    {% if customer %}
    <table class="table table-bordered border-primary table-hover">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">FIRST NAME</th>
          <th scope="col">LAST LAST</th>
          <th scope="col">FULL NAME</th>
          <th scope="col">EMAIL</th>
          <th scope="col">POINTS</th>
          <th scope="col">BONUS</th>
          {% comment %} <th scope="col">DISCOUNT</th> {% endcomment %}
        </tr>
    </thead>
    <tbody>
    {% for c in customer %}
    <tr>
        <th scope="row">{{c.id}}</th>
        <td>{{c.first_name}}</td>
        <td>{{c.last_name}}</td>
        <td>{{c.full_name}}</td>
        <td>{{c.email}}</td>
        <td>{{c.points}}</td>
        <td>{{c.bonus}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
    <p class="bg-danger">
        No Timing Available
    </p>
    {% endif %}
</div>
{% comment %} --------------------------------------------------------------- {% endcomment %}
    {% if result %}
    <div class="container">
    <div class="row alert alert-info">
    <div class="col">Aggregate</div>
    <div class="col">Total Records</div>
    <div class="col">Minimum Price</div>
    <div class="col">Maximum Price</div>
    <div class="col">Total Average</div>
    <div class="row alert alert-secondary"> 
    <div class="col">Functions</div>
    <div class="col">{{result.count}}</div>
    <div class="col">{{result.min_price}}</div>
    <div class="col">{{result.max_price}}</div>
    <div class="col">{{result.average}}</div>
    </div>
    {% endif %}
    {% comment %} ------------------------------------------------------------ {% endcomment %}
    {% if pl %}
    <div class="container">
    <div class="row alert alert-success">
    <div class="col">{{pl.id}}</div>
    <div class="col">{{pl.title}}</div>
    <div class="col">{{pl.description}}</div>
    <div class="col">{{pl.price}}</div>
    <div class="col">{{pl.inventory}}</div>
    <div class="col">{{pl.last_update}}</div>
    </div>
    </div>
    {% endif %}
    {% comment %} --------------------------------------------------------------- {% endcomment %}
    {% if pe %}
    <div class="container">
    <div class="row alert alert-danger">
    <div class="col">{{pe.id}}</div>
    <div class="col">{{pe.title}}</div>
    <div class="col">{{pe.description}}</div>
    <div class="col">{{pe.price}}</div>
    <div class="col">{{pe.inventory}}</div>
    <div class="col">{{pe.last_update}}</div>
    </div>
    </div>
    {% endif %}
</body>
</html>