<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>Models</title>
</head>
<body>
    <div class="container bg-success opacity-50 p-4 mb-3">
    <h1 class="text-light">Welcome to Models in Django</h1>
</div>
    <div class="container">
    {% if product %}
    <table class="table table-bordered border-primary table-hover">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">TITLE</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">PRICE</th>
          <th scope="col">INVENTORY</th>
          <th scope="col">LAST_UPDATE</th>
        </tr>
    </thead>
    <tbody>
    {% for p in product %}
    <tr>
        <th scope="row">{{p.id}}</th>
        <td>{{p.title}}</td>
        <td>{{p.description}}</td>
        <td>{{p.price}}</td>
        <td>{{p.inventory}}</td>
        <td>{{p.last_update}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
    <p class="bg-danger">
        No Timing Available
    </p>
    {% endif %}
</div>
</body>
</html>