<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>Models</title>
</head>
<body>
    <div class="container bg-success opacity-50 p-4 mb-3">
    <h1 class="text-light">Welcome to Models in Django</h1>
</div>
    <div class="container">
    {% if product %}
    <table class="table table-bordered border-primary table-hover">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">TITLE</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">PRICE</th>
          <th scope="col">INVENTORY</th>
          <th scope="col">last_update</th>
        </tr>
    </thead>
    <tbody>
    {% for p in product %}
    <tr>
        <th scope="row">{{p.id}}</th>
        <td>{{p.title}}</td>
        <td>{{p.description}}</td>
        <td>{{p.price}}</td>
        <td>{{p.inventory}}</td>
        <td>{{p.collection.title}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
    <p class="bg-danger">
        No Timing Available
    </p>
    {% endif %}
    {% if pl %}
    <div class="container">
    <div class="row alert alert-success">
    <div class="col">{{pl.id}}</div>
    <div class="col">{{pl.title}}</div>
    <div class="col">{{pl.description}}</div>
    <div class="col">{{pl.price}}</div>
    <div class="col">{{pl.inventory}}</div>
    <div class="col">{{pl.last_update}}</div>
    </div>
    </div>
    {% endif %}
    {% if pe %}
    <div class="container">
    <div class="row alert alert-danger">
    <div class="col">{{pe.id}}</div>
    <div class="col">{{pe.title}}</div>
    <div class="col">{{pe.description}}</div>
    <div class="col">{{pe.price}}</div>
    <div class="col">{{pe.inventory}}</div>
    <div class="col">{{pe.last_update}}</div>
    </div>
    </div>
    {% endif %}
</div>
</body>
</html>