{% extends "blog/base.html" %}
{% block content %}
    <h1>My Blog</h1>
    {% if tag %} <!-- Display the tag name if a tag is filtered -->
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}  <!-- End of tag display -->
    
    {% for post in posts %}
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p>Published {{ post.publish }} by {{ post.author }}</p>
        <p class="tags">
            Tags:
            {% for tag in post.tags.all %}
                <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                    {{ tag.name }}
                </a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}

    {% include "pagination.html" with page=posts %}
{% endblock %}
