{% load static %}  {# ✅ Load static files #}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>  {# ✅ Title block for dynamic page titles #}
    <link href="{% static "css/blog.css" %}" rel="stylesheet">  {# ✅ Include CSS file #}
</head>
<body>
    <div id="content">
        {% block content %}  {# ✅ Content block for dynamic page content #}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>My blog</h2>
        <p>This is my blog.</p>
        I've written {% total_posts %} posts so far
        <h3>Latest posts</h3>  <!-- Added heading for latest posts -->
        {% show_latest_posts 3 %} 
        <h3>Most commented posts</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
        {% for post in most_commented_posts %}
        <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>