{% load static %}  {# ✅ Load static files #}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>  {# ✅ Title block for dynamic page titles #}
    <link href="{% static "css/blog.css" %}" rel="stylesheet">  {# ✅ Include CSS file #}
</head>
<body>
    <div id="content">
        {% block content %}  {# ✅ Content block for dynamic page content #}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>My blog</h2>
        <p>This is my blog.</p>
        I've written {% total_posts %} posts so far
    </div>
</body>
</html>