<!-- store/templates/store/index.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Template Example</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  </head>
  <body>
    <!-- store/templates/store/index.html -->
{% if result %}
<div class="container mt-5">
  <h1 class="mb-4">Aggregate List</h1>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Total Records</th>
        <th>Min Price</th>
        <th>Max Price</th>
        <th>Average Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ result.total_records }}</td>
      <td>{{ result.min_price }}</td>
      <td>{{ result.max_price }}</td>
      <td>{{ result.avg_price }}</td>
      <td>{{ result.total_price }}</td>
    </tr>
    {% endif %}
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
