<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% block content %}
<h2>Log In</h2>
<form method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div>
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <button type="submit">Log In</button>
</form>
{% endblock content %}